<!doctype html>
<html>

  <head>
    <title>Example title 1</title>
    <meta charset="utf-8">
    <meta content="Example site" property="og:site_name">
    <meta content="Example title 1" property="og:title">
    <meta content="http://{{.EXTERNAL_URL}}/thumb1.png" property="og:image">
    <meta content="Example description 1" property="og:description">
    <link rel="shortcut icon" href="http://{{.EXTERNAL_URL}}/icon.png" />
  </head>

  <body>
    Example body 1
  </body>

</html>
